$header-background: #7858e3;
$header-color: #fff;

$body-color: #8D888C;

$table-background-even: #f9f4ff;
$table-background-odd: #eee;

$button-color: #eee;
$button-background: #197a86;

.cars-table{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 1000px;
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 0px 5px 30px #555;
    background-color:#aaa;
    border: none;
}

.car-model-name{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.car-photo{
    display: block;
    margin: 20px auto 10px auto;
}

.cars-table__header{
    color: $header-color;
    &-item{
        background-color: $header-background;     
        padding: 20px 10px;
        &:first-child{
            border-top-left-radius: 10px;
            padding-left: 50px;
        }
        &:last-child{
            border-top-right-radius: 10px;
        }
    }
}
.cars-table__body-row{
    background-color: $table-background-even;
    color: $body-color;
    &:nth-child(2n){
        background-color: $table-background-odd;
    }
}
.cars-table__body-row td{
    padding: 20px;
}
.manage-btn{
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: $button-color;
    background-color: $button-background;
    margin-right: 10px;
    transition: 0.3s all;
    &:last-child{
        margin-right: 0;
    }
    &:hover{
        opacity: 0.8;
    }
}